/**********/
/* Header */
/**********/

header {
  background-color: $primary-color;
  box-shadow: $primary-shadow;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  nav {
    ul {
      display: flex;
      flex-direction: row;

      li {
        margin: 0.5em;
        &:first-child {
          flex-grow: 1;
          margin-left: 1.6em;
        }
        &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
          margin-top: 1.2em;
          margin-right: 1.6em;
        }
      }
    }

    img#logo {
      width: 2em;
    }

    a {
  	  text-decoration: none;
      color: #FFF;
      font-size: 1.2em;
      &:hover, &:active {
      	text-decoration: underline;
        color: #FFF;
      }
      &:visited {
        color: #FFF;
      }
    }
  }
}
