#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  p {
    margin-top: 0;
  }
}

.contact-list {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 1rem 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      .link {
        color: var(--color-text);
        text-decoration: none;
        transition: 0.2s;
        border-bottom: 2px solid var(--color-secondary);

        &:hover {
          color: var(--color-secondary);
        }
      }

      a svg {
        margin-right: 1rem;
      }
    }
  }
}

@media (min-width: $breakpoint-small) {
  #contact {
    display: grid;
    grid-template-columns: $breakpoint-small-grid;
    grid-column-gap: $breakpoint-small-grid-gap;

    .content {
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;
    }
  }
}

@media (min-width: $breakpoint-medium) {
  #contact {
    padding: $breakpoint-medium-padding;
  }
}

@media (min-width: $breakpoint-large) {
  #contact {
    padding: $breakpoint-large-padding;
  }
}
