header {
  height: 4rem;

  nav {
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        &:first-of-type {
          flex-grow: 1;
          a:hover {
            border-bottom: none;
          }
        }
        &:not(:first-of-type) {
          margin-left: 1rem;
        }
        &:nth-last-of-type(1) {
          // border: 2px solid var(--color-text);
          // padding: 0.5rem 1rem;

          a {
            padding: 0.5rem 1rem;
            transition: 0.2s;
            background-color: var(--color-primary);
            border-radius: $border-radius-standard;
            &:hover {
              border-bottom: none;
              background-color: var(--color-secondary);
            }
          }
        }
        a {
          color: var(--color-text);
          text-decoration: none;
          transition: 0.2s;
          &:hover {
            border-bottom: 2px solid var(--color-text);
          }
        }
      }
    }
  }
}

.logo-menu {
  width: 4rem;
}

@media (min-width: 48rem) {
  header nav ul li:not(:first-of-type) {
    margin-left: 2rem;
  }
}
