$background: #00162C;
$color-primary: #00376F;
$color-secondary: #43A5FF;
$color-text: #ffffff;

$breakpoint-small: 48rem;
$breakpoint-small-grid: 1fr 1fr;
$breakpoint-small-grid-gap: 2rem;

$breakpoint-medium: 1000px; // Convert to rem
$breakpoint-medium-padding: 0 10vw;
