// :root {
//    --background: #ffffff;
//    --color-primary: #43A5FF;
//    --color-secondary: #00376F;
//    --color-text: #00162C;
// }

// @media (prefers-color-scheme: dark) {
//    :root {
//       --background: #00162C;
//       --color-primary: #00376F;
//       --color-secondary: #43A5FF;
//       --color-text: #ffffff;
//    }
// }

:root {
   --background: #00162C;
   --color-primary: #00376F;
   --color-secondary: #43A5FF;
   --color-text: #ffffff;
}

$breakpoint-small: 43.750rem; // 767px
$breakpoint-small-grid: 1fr 1fr;
$breakpoint-small-grid-gap: 2rem;

$breakpoint-medium: 62.5rem; // 1000px
$breakpoint-medium-padding: 0 10vw;

$breakpoint-large: 75rem;
$breakpoint-large-padding: 0 20vw;

$border-radius-standard: 6px;
