@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
      url('fonts/OpenSans-Regular.woff2') format('woff2'),
      url('fonts/OpenSans-Regular.woff') format('woff'),
      url('fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
      url('fonts/SourceSansPro-Bold.woff2') format('woff2'),
      url('fonts/SourceSansPro-Bold.woff') format('woff'),
      url('fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}