<section id="contact">
  <div class="content">
    <h2>Contact</h2>
    <p><%= translations.contact.p1 %></p>
    <p><%= translations.contact.p2 %></p>
    <div class="contact-list">
      <ul>
        <li>
          <%- include('../partials/components/github-logo') %>
          <a href="https://github.com/jeroentvb" target="_blank" rel="noreferrer" class="link">
            Github: jeroentvb
          </a>
        </li>
        <li>
          <%- include('../partials/components/linkedin-logo') %>
          <a href="https://www.linkedin.com/in/jeroenvanberkum/" target="_blank" rel="noreferrer" class="link">
            LinkedIn
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
