<section id="contact">
  <div class="content">
    <h2>Contact</h2>
    <p>Heb je een vraag? Heb je een supercool project waar ik zeker vanaf moet weten? Of wil je een keer samen windsurfen?</p>
    <p>Ik ben te vinden op</p>
    <div class="contact-platforms">
      <a href="https://github.com/jeroentvb"><img src="assets/img/github-logo-white.svg" alt="github logo" class="icon"></a>
      <a href="#"><img src="assets/img/linkedin-logo-white.svg" alt="linkedin logo" class="icon"></a>
    </div>
  </div>
</section>
