<section id="featured-work">
  <h2>Werk</h2>
  <article class="featured-item featured-item--right">
    <div class="featured-item__card">
      <p class="featured-text">Uitgelicht</p>
      <h3>Titel van project</h3>
      <div class="info-card info-card--right">
        <p>Een webapplicatie om makkelijk statistieken van windsurfsessies bij te houden en de informatie te visualiseren in grafieken.
Windsnelheden worden automatisch opgehaald en opgeslagen.</p>

        <div class="used-skills">
          <p class="monospace">JavaScript</p>
          <p class="monospace">NodeJs</p>
          <a href="https://github.com/jeroentvb/windsurf-stats"><img src="assets/img/github-logo-white.svg" alt="github logo" class="icon"></a>
        </div>
      </div>
    </div>
    <img class="featured-image" src="assets/img/wind-statistics-app.png" alt="windsurf statistics app screenshot">
  </article>

  <article class="featured-item featured-item--left">
    <div class="featured-item__card">
      <p class="featured-text">Uitgelicht</p>
      <h3>Titel van project</h3>
      <div class="info-card info-card--left">
        <p>Een web applicatie die windvoorspellingen van verschillende wind websites en modellen ‘scraped’ om ze vervolgens in één overzicht te tonen.</p>

        <div class="used-skills">
          <p class="monospace">JavaScript</p>
          <p class="monospace">NodeJs</p>
          <a href="https://github.com/jeroentvb/windsurf-stats"><img src="assets/img/github-logo-white.svg" alt="github logo" class="icon"></a>
        </div>
      </div>
    </div>
    <img class="featured-image" src="assets/img/wind-statistics-app.png" alt="windsurf statistics app screenshot">
  </article>
</section>
