<header>
  <nav>
    <ul>
      <li><a href="#intro" class="menu-item"><img src="assets/img/jeroentvb-logo-light-blue.svg" alt="logo" class="logo-menu"></a></li>
      <li><a href="#featured-work" class="menu-item"><%= translations.header.work %></a></li>
      <!-- <li><a href="#about" class="menu-item"><%= translations.header.about %></a></li> -->
      <li><a href="#contact" class="menu-item">Contact</a></li>
      <!-- <li><a href="<%= translations.header.langSwitch.link %>"><%= translations.header.langSwitch.text %></a></li> -->
    </ul>
  </nav>
</header>