<header>
  <nav>
    <ul>
      <li><a href="#intro" class="menu-item"><img src="assets/img/jeroentvb-logo-light-blue.svg" alt="logo" class="logo-menu"></a></li>
      <li><a href="#featured-work" class="menu-item">Werk</a></li>
      <li><a href="#about" class="menu-item">Over mij</a></li>
      <li><a href="#contact" class="menu-item">Contact</a></li>
    </ul>
  </nav>
</header>