<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="Jeroen van Berkum Portfolio">
  <meta name="keywords" content="Jeroen,Berkum,Portfolio">

  <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
  <link rel="shortcut icon" href="assets/img/jeroentvb-logo-black.ico">

  <title><%= pagename %></title>
</head>
<body>
