<section id="intro">
  <div class="titles">
    <p class="pre-title">Hoi, ik ben Jeroen</p>
    <h1>Front-end developer bij dag.</h1>
    <h1 class="subtitle">Windsurfer bij, uhm... nacht?</h1>
  </div>
  <div class="content">
    <p>Ik studeer Communication & Multimedia design aan de HvA. Hierbij focus ik me op front-end development. Ik bouw (en design) websites en andere digitale producten.</p>
    <div class="contact-platforms">
      <a href="https://github.com/jeroentvb"><img src="assets/img/github-logo-white.svg" alt="github logo" class="icon"></a>
      <a href="#"><img src="assets/img/linkedin-logo-white.svg" alt="linkedin logo" class="icon"></a>
    </div>
  </div>
</section>
