body {
    background: rgb(255, 213, 141);
    background: rgba(255, 213, 141, 0.80);
    background-image: url("../images/puzzle_1/background_copy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    margin: auto;
    margin-top: 50px;
    width: 1000px;
}

.answer {
    margin-top: 10px;
    position: absolute;
    width: 384px;
}

.puzzle {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.62);
    border-radius: 15px;
    margin-left: 500px;
    padding: 1px 20px;
    position: absolute;
    width: 384px;
}

.none {
    display: none;
}

.correct_house {
    margin-left: 665px;
    margin-top: 145px;
    position: absolute;
    width: 36px;
}

.arrownorth {
    margin-left: 810px;
    margin-top: 104px;
    position: absolute;
    width: 88.5px;
}

.section {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    margin-right: 550px;
    padding: 1px 20px 65px 20px;
}

section:nth-of-type(2) {
    margin-top: 50px;
}

.answersection {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    padding-bottom: 310px;
    position: absolute;
    width: 455px;
}

button {
    background: rgb(255, 213, 141);
    background: rgba(255, 213, 141, 0.80);
    border-radius: 10px;
    font-size: 1.2em;
    height: 50px;
    margin-top: 20px;
    width: 200px;
}

.hinttext {
    margin-top: 10px;
}

.hintbutton1, .hintbutton2, .hintbutton3 {
    border-radius: 5px;
    height: auto;
    margin-right: 10px;
    margin-top: 0;
    width: auto;
}

.backbutton {
    background: rgb(255, 213, 141);
    background: rgba(255, 213, 141);
    display: block;
    margin-bottom: 20px;
}

.footer {
    bottom: 0;
    color: white;
    left: 0;
    padding-left: 20px;
    position: absolute;
    right: 0;
}
